--extra-index-url https://download.pytorch.org/whl/cu110
torch==1.7.1+cu110
torchvision==0.8.2+cu110
torchaudio==0.7.2
click==8.1.7
requests==2.32.3
tqdm==4.62.2
ninja==1.11.1.1
psutil==6.0.0
scipy==1.10.1
imageio==2.35.0
imageio-ffmpeg==0.5.1
opencv-python==4.10.0.84
timm==1.0.8
facenet-pytorch==2.5.3
seaborn==0.13.2